/* TodoForm.css */
.ant-modal {
    transition: all 0.3s ease-in-out;
}

.ant-input {
    transition: all 0.3s ease-in-out;
}

.ant-btn {
    transition: background-color 0.3s ease-in-out;
}

.ant-btn:hover {
    background-color: #e6f7ff;
    /* Alterar cor do botão ao passar o mouse */
}